NUXT_PUBLIC_API_URL=
NUXT_PUBLIC_TOKEN_URL=
NUXT_PUBLIC_LOGIN_URL=

# Analytics
NUXT_PUBLIC_RUDDERSTACK_WRITE_KEY=
NUXT_PUBLIC_RUDDERSTACK_DATA_PLANE_URL=
NUXT_POSTHOG_API_KEY=
NUXT_POSTHOG_PROJECT_ID=