NUXT_PUBLIC_API_URL=
NUXT_PUBLIC_TOKEN_URL=
NUXT_PUBLIC_IS_STAGING=

# Auth0
NUXT_PUBLIC_AUTH0_DOMAIN=login.bcc.no
NUXT_PUBLIC_AUTH0_CLIENT_ID=
NUXT_PUBLIC_AUTH0_AUDIENCE=

# Analytics
NUXT_PUBLIC_RUDDERSTACK_WRITE_KEY=
NUXT_PUBLIC_RUDDERSTACK_DATA_PLANE_URL=